description "aurora thermos observer"

start on stopped rc RUNLEVEL=[2345]
respawn
post-stop exec sleep 5

env AURORA_HOME=/opt/aurora

exec $AURORA_HOME/dist/thermos_observer.pex \
  --root=/var/run/thermos \
  --port=1338 \
  --log_to_disk=NONE \
  --log_to_stderr=google:INFO