# mesos-slave.conf

description "mesos slave"
start on stopped rc RUNLEVEL=[2345]
respawn
post-stop exec sleep 5

env LD_LIBRARY_PATH=/usr/lib/jvm/java-7-openjdk-amd64/jre/lib/amd64/server
env MY_HOST={{ magneto_slave2_ip }}
env ZK_HOST={{ magneto_zk_ip }}

# TODO(ksweeney): Scheduler assumes 'rack' and 'host' are present. Make them optional.
exec /usr/local/sbin/mesos-slave --master=zk://$ZK_HOST:2181/mesos/master \
  --ip=$MY_HOST \
  --hostname=$MY_HOST \
  --attributes="host:$MY_HOST;rack:a" \
